:root {
	--blue-primary: #1b63f0;

	--green-primary: #97f5cd;
	--white: #ffffff;
	--black-primary: #000000;
	--black-secondary: #5c5c5c;
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}

.btn {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border-radius: 22px;
	padding: 12px 20px;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
}
.btn-blue {
	background-color: var(--blue-primary);
	color: var(--white);
}
.btn-green {
	background-color: var(--green-primary);
	color: var(--black-primary);
	text-decoration: none;
}

.wrapper {
	padding: 24px;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	align-items: center;
}

.header__burger {
	position: relative;
	margin-right: 33px;
}
.header__burger-item,
.header__burger-item::after,
.header__burger-item::before {
	position: absolute;
	width: 18px;
	height: 2px;
	background-color: var(--blue-primary);
}
.header__burger-item::after,
.header__burger-item::before {
	content: '';
}
.header__burger-item::after {
	transform: translateY(-6px);
}
.header__burger-item::before {
	transform: translateY(6px);
}

.header__background-bigger {
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	width: 375px;
}
.header__background-smaller {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	width: 357px;
}
/* education */
.education__image {
	position: relative;
	width: 375px;
	left: -24px;
}
/* course */
.course__image {
	width: 270px;
	height: 364px;
	background-position: center;
	background-size: cover;
}
.course__image_design {
	background-image: url('./images/courses/course-design.png');
}
.course__image_marketing {
	background-image: url('./images/courses/course-marketing.jpg');
}
.course__image_web-design {
	background-image: url('./images/courses/course-web-design.png');
}

.prefers__item {
	width: 197px;
	height: 197px;
	background-position: center;
	background-size: cover;
	background-blend-mode: soft-light;
}
.prefers__item_design {
	background-image: url('./images/courses/course-design.png');
	background-color: rgba(101, 131, 255, 0.8);
}
.prefers__item_web-design {
	background-image: url('./images/courses/course-web-design.png');
	background-color: rgba(240, 199, 45, 0.8);
}
.prefers__item_marketing {
	background-image: url('./images/courses/prefers-marketing.png');
	background-color: rgba(148, 87, 243, 0.8);
}
.prefers__item_education {
	background-image: url('./images/courses/prefers-education.png');
	background-color: rgba(254, 95, 96, 0.8);
}

.get-started {
	height: 406px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-blend-mode: soft-light;
	background-image: url('./images/courses/course-design.png');
	background-color: rgba(69, 82, 156, 0.95);
}

.post__image {
	width: 328px;
	height: 160px;
	background-position: center;
	background-size: cover;
}
.post__image_web-design {
	background-image: url('./images/courses/course-web-design.png');
}
.post__image_education {
	background-image: url('./images/courses/prefers-education.png');
}

.footer__icon {
	fill: none;
	stroke: #1e1e1e;
}
